<!--Created by luckyqqk on 2015/11/13.-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-modalmanager.js"></script>
<script src="js/custom-html-label.js"></script>
<script src="test.js"></script>
<link rel="stylesheet" href="css/H-ui.min.css">
</head>
<body>
	<h3 align="center">angularJS自定义表格/表单(H-ui风格)</h3>
	<div class="container">
		<div ng-app="testApp" ng-controller="testController">
			<html-layer></html-layer>
			<div align="center" data-ng-init="load()">
				<button ng-click="changeWise()" class="btn btn-primary radius">横纵翻转</button>
				<a type="button" href="javascript:location.replace(location.href);" class="btn btn-success radius">刷新</a>
			</div>
			<div align="center">
				(表格样式,双击内容可进行编辑)
				<html-table></html-table>
			</div>
			<div align="center">
				(表单样式)
				<html-form></html-form>
			</div>
			<div align="center">
				<span>附:一般页面展示的内容,都是从服务器取到的,最后,这里附赠点REST通讯示例代码</span>
			</div>
			<div align="center">
				<button ng-click="testGet()" class="btn btn-success radius">GET</button>
				<button ng-click="testPost()" class="btn btn-warning radius">POST</button>
				<button ng-click="testPut()" class="btn btn-primary radius">PUT</button>
				<button ng-click="testDelete()" class="btn btn-danger radius">DELETE</button>
			</div>
		</div>
	</div>
</body>
</html>